.body {
  margin: 0;
  padding: 0;
  font-family: 'Cambria', 'Times New Roman', Times, serif;
}

.App {
  width: 100%;
}

/* Responsive adjustments for App */
@media (max-width: 768px) {
  .App {
      overflow-x: hidden;
  }
}